
<br />
<div class="container">
	<div class="row">
		<div class="col-sm-4">
    	    <div class="widget-grey">
                <div class="icon">
                     <i class="material-icons" style="color: #6C757D;">account_circle</i>
                </div>
                <div class="text">
                    <var style="color: #6C757D;"><%= Client.count %></var>
                    <label class="text-muted">clientes cadastrados</label>
                </div>
                <div class="options">
                    <a href="/clients/new" class="btn btn-secondary btn-lg"><i class="glyphicon glyphicon-plus"></i>+ 1 Cliente</a>
                </div>
            </div>
		</div>
        <div class="col-sm-4">
    	    <div class="widget-green">
                <div class="icon">
                     <i class="material-icons" style="color: #28A745;">shopping_cart</i>
                </div>
                <div class="text">
                    <var style="color: #28A745;"><%= Item.count %></var>
                    <label class="text-muted">vendas realizadas</label>
                </div>
                <div class="options">
                    <a href="/cashiers" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-plus"></i>+ 1 Venda</a>
                </div>
            </div>
		</div>
        <div class="col-sm-4">
    	    <div class="widget-blue">
                <div class="icon">
                     <i class="material-icons" style="color: #007BFF;">account_circle</i>
                </div>
                <div class="text">
                    <var style="color: #007BFF;"><%= Schedule.where('start_time >= ?', DateTime.now ).count %></var>
                    <label class="text-muted">agendamentos hoje</label>
                </div>
                <div class="options">
                    <a href="/clients/new" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> 1 Cliente</a>
                </div>
            </div>
    	</div>
	</div>
</div>
<br>

<h3 align="center">Vendas por dia da semana</h3>
<%= column_chart Cashier.group_by_day_of_week(:created_at, format: "%a").count %>