<body>
  <div id="example1" align="center">
    <p id="notice"><%= notice %></p>

    <div class="table-responsive">
      <br/>
      <h1>Funcionários</h1>
      <div class="row justify-content-center">
      <%= link_to 'Cadastrar novo Funcionário', new_user_path, class: 'btn btn-success' %>
      </div>
      <div style="width:95%">
        <%= content_tag :table, role: :datatable, data: { url: users_path(format: :json)} do %>
          <thead class="table table-striped table-bordered">
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Ativo</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="table table-striped table-bordered">
          </tbody>
        <% end %>
      </div>
    </div>
  </div>
</body>