<p id="notice"><%= notice %></p>
<% if policy(@schedules).index? %>
	<%= render 'form', schedule: @schedule %><br>
<% end %>
<div id="example1" align="center"><br/>
<table style="width:90%;" align="center">
  <tr><th>
<div class='calendar'></div>
</th></tr></table><br><br>
</div>
<br>