<p id="notice"><%= notice %></p>

<%= render 'form', schedule: @schedule %><br>
<div id="example1" align="center"><br/>
<table style="width:90%;" align="center">
  <tr><th>
<div class='calendar'></div>
</th></tr></table>
</div>