<div class="clients-search">
  <input type="text" id="clients-search-txt" autofocus>
  <div class="results" id="clients-search-results"></div>
</div>
<div class="clients-search">
  <input type="text" id="clients-search-txt" autofocus>
  <div class="results" id="clients-search-results"></div>
</div>

<script>
  $(function() {
    new app.Clients;
  });
</script>
