<body style="background-color:#f4f4f4;">
  <div id="example1" align="center">
    <p id="notice"><%= notice %></p>

    <div class="table-responsive">
      <br/>
      <h1>Clientes</h1>
      <%= link_to 'Cadastrar novo Cliente', new_client_path, class: 'btn btn-success' %><br/>
      
        <%= content_tag :table, role: :datatable, data: { url: clients_path(format: :json)} do %>
        <thead class="table">
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ocupacao</th>
            <th></th>

          </tr>
        </thead>

        <tbody class="table">

        </tbody>
        <% end %>
      
      
    </div>
  </div>
</body>


<table class="table" style="width: 90%;">
  </table>