<body>
  <div id="example1" align="center">
    <p id="notice"><%= notice %></p>
<% if policy(@clients).index? %>
  <%= render partial: 'gerente_index' %>
    <% else %>
      <%= render partial: 'terapeuta_index' %>
    <% end %>
  </div>
</body>