<body>
  <div id="example1" align="center">
    <p id="notice"><%= notice %></p>
<% if current_user.gerente? || current_user.tecnico? %>
  <%= render partial: 'gerente_index' %>
    <% else %>
      <%= render partial: 'terapeuta_index' %>
    <% end %>
    <br>
  </div>
</body>
<br>