<h5 id="notice" style="color: red" align="center"><%= notice %></h5>

<h2 align="center">Despesas</h2>

<%= render 'form', event: @event %><br>

<br>

<div id="example1" align="center"><br/>
<table style="width:90%;" align="center">
  <tr><th>

<div class='calendar'></div>


</th></tr></table><br><br>
</div>
<br>