<h2 align="center">Cadastrar</h2>

<%= render 'form', therapy: @therapy %>

<div class="form-row">
	<div class="col form-group" align="center">
		<%= link_to 'Back', therapies_path, class: 'btn btn-warning' %>
	</div>
</div>