/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap/scss/bootstrap";
 @import "bootstrap/scss/functions";
 @import "bootstrap-color-yiq";
 @import "jquery.minicolors";
 @import "variables";
 @import 'material-design-kit/src/style';
 @import 'material-icons';
 @import "fullcalendar";
 @import "jquery-ui";
 @import "jquery-ui/datepicker";
 @import "bootstrap-datepicker3";
 @import 'jquery-ui/core';
 @import 'jquery-ui/theme';
 @import 'datatables/jquery.dataTables';
 @import 'layout';
 @import 'drawer';
 @import "navbar";


#example1 {
	width: 90%;
	margin:0 auto;
	background-color:white;
	border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.widget-grey {
  width: 90%;
  padding: 10px 10px 10px 10px;
  margin:0 auto;
  background-color:#f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: #bfbfbf;
  border-radius: 3px;
    box-shadow: inset 0px 0px 12px -1px rgba(191,191,191,0.76);
}

.widget-green {
  width: 90%;
  padding: 10px 10px 10px 10px;
  margin:0 auto;
  background-color:#c8ebc9;
  border-style: solid;
  border-width: 1px;
  border-color: #90d192;
  border-radius: 3px;
    box-shadow: inset 0px 0px 12px -1px rgba(144,209,146,1);
}

.widget-blue {
  width: 90%;
  padding: 10px 10px 10px 10px;
  margin:0 auto;
  background-color:#dadaf0;
  border-style: solid;
  border-width: 1px;
  border-color: #a6a6e0;
  border-radius: 3px;
    box-shadow: inset 0px 0px 12px -1px rgba(166,166,224,1);
}



* {
 color: #2E2400;
 font-family: "Source Sans Pro", "Arial", sans-serif;
}


.div-select select{
   -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
   background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
   background-position: 218px center;  /*Posição da imagem do background*/
   width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
   height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   border:1px solid #ddd;
}

