<br><div id="example1" align="center"><br/>
	<% if current_user.gerente? || current_user.financeiro? || current_user.tecnico? %>
		<%= render partial: 'gerente_produtos' %>

	<% elsif current_user.recepcionista? %>
		<%= render partial: 'recepcionista_produtos' %>

	<% else %>
		<h1 align="center" style="color: red">Você não tem permissão para acessar esta página!!</h1>
	<% end %>
<br><br>

</div>
<br>
<script language="javascript" type="text/javascript">
    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sumValue = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'count-value') {
            sumValue += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
        }
    }

    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sumBuy = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'count-value-compra') {
            sumBuy += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
        }
    }

    document.getElementById('countit').innerHTML += '<tr><td><b>Valor Total Vendido</b></td><td><b>R$ ' + sumValue + '</b></td></tr>';
    document.getElementById('countit').innerHTML += '<tr><td><b>Valor Total de Compra</b></td><td><b>R$ ' + sumBuy + '</b></td></tr>';

    var total = sumValue - sumBuy;
    document.getElementById('countit').innerHTML += '<tr><td><b>Valor Total Liquido</b></td><td><b>R$ ' + total + '</b></td></tr>';




        function printData()
      {
         var divToPrint=document.getElementById("countit");
         newWin= window.open("");
         newWin.document.write('<html><head><title></title> <h1 align="center">Relatório de Venda de Produtos</h1>');
         newWin.document.write('<style> table, th, td {border: 1px solid #ddd;;width:100%;border-collapse: collapse; padding-left:10px;padding-right:10px;}</style>');
         newWin.document.write('</head>');
         newWin.document.write(divToPrint.outerHTML);
         newWin.print();
         newWin.close();
      }

      $('button').on('click',function(){
      printData();
      })

</script>