<nav class="navbar navbar-expand-md navbar-dark d-flex-none" style="background-color: #B4A262;">
  <button class="btn btn-link text-white pl-0" type="button" data-toggle="sidebar">
    <i class="material-icons align-middle md-36">short_text</i>
  </button>
  <div class="page-title m-0">Dashboard</div>
</nav>