	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #C9B87D;">
	  <button class="btn btn-link text-white pl-0" type="button" data-toggle="sidebar">
	    <i class="material-icons align-middle md-36">short_text</i>
	  </button>
	  <div class="page-title m-0">Spa Urbano Julio Ganiko</p></div>
	</nav>

<!-- style="background-color: #C9B87D;" -->