<nav class="drawer drawer--dark">
  <div class="drawer-spacer">
    <div class="media align-items-center">
      <a href="index.html" class="drawer-brand-circle mr-2"><img src="http://julyoganiko.hospedagemdesites.ws/wp-content/uploads/2018/03/logo-julio-ganiko-principal.png" style="width:78%;height:78%;">
</a>
      <div class="media-body">
        <a href="index.html" class="h5 m-0 text-link">Spa Urbano Julio Ganiko</a>
      </div>
    </div>
  </div>

  <!-- HEADING -->
  <div class="py-2 drawer-heading">
    Pages
  </div>

  <!-- MENU -->
  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
    <li class="drawer-menu-item">
      <a href="/">
        <i class="material-icons">home</i>
        <span class="drawer-menu-text">Dashboard</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/schedules">
        <i class="material-icons">perm_contact_calendar</i>
        <span class="drawer-menu-text">Agenda</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/cashiers">
        <i class="material-icons">shopping_cart</i>
        <span class="drawer-menu-text">Frente de Caixa</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/clients">
        <i class="material-icons">account_circle</i>
        <span class="drawer-menu-text">Clientes</span>
      </a>
    </li>
  </ul>
</nav>