<nav class="drawer drawer--dark" style="background-color: #d6c792">
  <div class="drawer-spacer">
    <div class="media align-items-center">
      <a href="index.html" class="drawer-brand-circle mr-2" style="background-color: aliceblue;"><img src="http://julyoganiko.hospedagemdesites.ws/wp-content/uploads/2018/03/logo-julio-ganiko-principal.png" style="width:78%;height:78%;">
</a>
      <div class="media-body">
        <a href="/" class="h5 m-0 text-link" style="color: #4E400E">Spa Urbano Julio Ganiko</a>
      </div>
    </div>
  </div>

  <!-- HEADING -->
  <div class="py-2 drawer-heading" style="color: #4E400E">
    Home
  </div>

  <!-- MENU -->
  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
    <li class="drawer-menu-item">
      <a href="/">
        <i class="material-icons" style="color: #8E7C3E">home</i>
        <span class="drawer-menu-text" style="color: #8E7C3E">Dashboard</span>
      </a>
    </li>
    <div class="py-2 drawer-heading" style="color: #4E400E">
      Recepção
    </div>
    <li class="drawer-menu-item">
      <a href="/schedules">
        <i class="material-icons" style="color: #8E7C3E">perm_contact_calendar</i>
        <span class="drawer-menu-text" style="color: #8E7C3E">Agenda</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/cashiers">
        <i class="material-icons" style="color: #8E7C3E">shopping_cart</i>
        <span class="drawer-menu-text" style="color: #8E7C3E">Frente de Caixa</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/items">
        <i class="material-icons" style="color: #8E7C3E">list_alt</i>
        <span class="drawer-menu-text" style="color: #8E7C3E">Histórico de Vendas</span>
      </a>
    </li>
    <div class="py-2 drawer-heading" style="color: #4E400E">
      Cadastros
    </div>
    <li class="drawer-menu-item">
      <a href="/clients">
        <i class="material-icons" style="color: #8E7C3E">account_circle</i>
        <span class="drawer-menu-text" style="color: #8E7C3E">Clientes</span>
      </a>
    </li>

    <li class="drawer-menu-item">
      <a href="/users">
        <i class="material-icons" style="color: #8E7C3E">face</i>
        <span class="drawer-menu-text" style="color: #8E7C3E">Funcionários</span>
      </a>
    </li>

    <li class="drawer-menu-item">
      <a href="/therapies">
        <i class="material-icons" style="color: #8E7C3E">sentiment_satisfied_alt
</i>
        <span class="drawer-menu-text" style="color: #8E7C3E">Terapias</span>
      </a>
    </li>
  </ul>
</nav>