<div id="color-overlay"></div>
<nav class="drawer drawer--dark" style="background-image: url(https://i.imgur.com/XH4OAbS.jpg);">
  <div class="drawer-spacer" style="position: relative;">
    <div class="media align-items-center" style="padding-left: 60px">
      <a href="/" class="circle-icon"><img src="https://i.imgur.com/TCm3Sn6.png" style="width:78%;height:78%;">
</a>
      <!--<div class="media-body">
        <strong><a href="/" class="h7 m-0 text-link" style="color: #e0e0e0; font-size: 20px; font-family: ">Spa Urbano Julio Ganiko</a></strong>
      </div>-->
    </div>
  </div>
  <div style="position: relative;">
  <% if user_signed_in? %>
    <div style="padding-left: 10px">
        <a onclick="toogleUser()" href="javascript:void(0);" style="color: #e0e0e0"><%= current_user.email %></a>
      <div id="divUser" style="display: none; margin-top: 15px;">
      <%= link_to "Logout", destroy_user_session_path, :method => :delete, :style => "color: #e0e0e0"  %>
    </div>
    </div>
  <% end %>
  </div>
  <hr style="opacity: 0.5">

  <!-- HEADING -->
  <div style="position: relative;">
    <br><a onclick="toogleHome()" href="javascript:void(0);" class="py-2 drawer-heading" style="color: #e0e0e0">Home</a>


  <!-- MENU -->
  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
    <div id="divHome">
      <li class="drawer-menu-item">
        <a href="/">
          <i class="material-icons" style="color: #e0e0e0">home</i>
          <span class="drawer-menu-text" style="color: #e0e0e0">Dashboard</span>
        </a>
      </li>
    </div>
    <br><a onclick="toogleRecepcao()" href="javascript:void(0);" class="py-2 drawer-heading" style="color: #e0e0e0">Recepção</a>
    <div id="divRecepcao">
      <% if current_user.gerente? || current_user.recepcionista? || current_user.tecnico? %>

        <li class="drawer-menu-item">
          <a href="/cashiers">
            <i class="material-icons" style="color: #e0e0e0">shopping_cart</i>
            <span class="drawer-menu-text" style="color: #e0e0e0">Frente de Caixa</span>
          </a>
        </li>

        <li class="drawer-menu-item">
          <a href="/product_cashier/index">
            <i class="material-icons" style="color: #e0e0e0">shopping_cart</i>
            <span class="drawer-menu-text" style="color: #e0e0e0">Caixa de Produtos</span>
          </a>
        </li>
        <% if current_user.recepcionista? %>
          <li class="drawer-menu-item">
            <a href="/reports/produtos">
              <i class="material-icons" style="color: #e0e0e0">list_alt</i>
              <span class="drawer-menu-text" style="color: #e0e0e0">Relatóro de Produtos</span>
            </a>
          </li>
        <% end %>
      <% end %>
      <li class="drawer-menu-item">
        <a href="/items">
          <i class="material-icons" style="color: #e0e0e0">list_alt</i>
          <span class="drawer-menu-text" style="color: #e0e0e0">Histórico</span>
        </a>
      </li>
    </div>




<% if current_user.gerente? || current_user.financeiro? || current_user.tecnico? %>
<br><br>
<a onclick="toogleFinanceiro()" href="javascript:void(0);" class="py-2 drawer-heading" style="color: #e0e0e0">Financeiro</a>
    <div id="divFinanceiro">
      <li class="drawer-menu-item">
        <a href="/reports">
          <i class="material-icons" style="color: #e0e0e0">list_alt</i>
          <span class="drawer-menu-text" style="color: #e0e0e0">Relatórios</span>
        </a>
      </li>
        <li class="drawer-menu-item">
          <a href="/events">
            <i class="material-icons" style="color: #e0e0e0">local_atm</i>
            <span class="drawer-menu-text" style="color: #e0e0e0">Despesas</span>
          </a>
        </li>
    </div>
<% end %>






<% if current_user.gerente? || current_user.financeiro? || current_user.tecnico? %>
<br><br>
<a onclick="toogleProdutos()" href="javascript:void(0);" class="py-2 drawer-heading" style="color: #e0e0e0">Produtos</a>
    <div id="divProdutos">
      <li class="drawer-menu-item">
        <a href="/products">
          <i class="material-icons" style="color: #e0e0e0">list_alt</i>
          <span class="drawer-menu-text" style="color: #e0e0e0">Produtos</span>
        </a>
      </li>
        <li class="drawer-menu-item">
          <a href="/product_movements">
            <i class="material-icons" style="color: #e0e0e0">local_atm</i>
            <span class="drawer-menu-text" style="color: #e0e0e0">Movimentação</span>
          </a>
        </li>
    </div>
<% end %>





<% unless current_user.financeiro? || current_user.terapeuta? %>

    <br>
    <br><a onclick="toogleCadastros()" href="javascript:void(0);" class="py-2 drawer-heading" style="color: #e0e0e0">Cadastros</a>
    <div id="divCadastros">
      <li class="drawer-menu-item">
        <a href="/clients">
          <i class="material-icons" style="color: #e0e0e0">account_circle</i>
          <span class="drawer-menu-text" style="color: #e0e0e0">Clientes</span>
        </a>
      </li>
      <% if current_user.gerente? || current_user.recepcionista? || current_user.tecnico? %>
        <li class="drawer-menu-item">
          <a href="/users">
            <i class="material-icons" style="color: #e0e0e0">face</i>
            <span class="drawer-menu-text" style="color: #e0e0e0">Funcionários</span>
          </a>
        </li>
      
        <li class="drawer-menu-item">
          <a href="/therapies">
            <i class="material-icons" style="color: #e0e0e0">sentiment_satisfied_alt
    </i>
            <span class="drawer-menu-text" style="color: #e0e0e0">Terapias</span>
          </a>
        </li>


      <% end %>
    </div>

    <% end %>
  </ul>


<script>
function toogleUser() {
    var x = document.getElementById("divUser");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function toogleHome() {
    var x = document.getElementById("divHome");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function toogleRecepcao() {
    var x = document.getElementById("divRecepcao");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function toogleCadastros() {
    var x = document.getElementById("divCadastros");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function toogleFinanceiro() {
    var x = document.getElementById("divFinanceiro");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function toogleProdutos() {
    var x = document.getElementById("divProdutos");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
